/* Reset CSS */
*{
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Tu ngoai vao trong
Tu tren xuong duoi
Tu tong quan den chi tiet
*/
/* 
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang (kieu chu, BUI)
 */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    list-style: none;
    font-size: 15px;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: inline-block;
}

#nav > li:hover > .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) ;
}

#nav .subnav a {
    color: #000;
    padding: 8px 8px;
    line-height: 26px;
    padding-right: 50px;
}

.nav-arrow-down {
    font-size: 10px;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46.5px;
    padding: 0 21px;
    font-weight: bolder;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url("/w3-band/assets/img/slider1.jpg") top center / cover no-repeat ;
}

#slider .text-content {
    position: absolute;
    bottom: 44px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-size: 500;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {
    height: 1000px;
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 105px;
    }

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 22px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour session */

.tour-session {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    background-color: #000;
    padding: 3px 8px;
    border-radius: 70%;
    color: #fff;
    margin-right: 16px;
    margin-top: -3  px;
}

/* Places */

.places-list{
    margin: 32px -8px 0;
    padding-bottom: 42px;
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body{
    background: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 650;
}

.place-time{
    margin-top: 15px;
    opacity: 0.6;  
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* Footer Session */

#footer {

}
