/* Reset CSS */
*{
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Tu ngoai vao trong
Tu tren xuong duoi
Tu tong quan den chi tiet
*/
/* 
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang (kieu chu, BUI)
 */
#main {

}

#header {
    height: 46.5px;
    background-color: #000;
}

#nav {
    
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    list-style: none;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: inline-block;
}

#nav > li:hover > .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) ;
}

#nav .subnav a {
    color: #000;
    padding: 8px 8px;
    line-height: 26px;
    padding-right: 50px;
}

#slider {

}

#content {

}

#footer {

}
